 <head>
  <meta charset="UTF-8">
</head>

<!-- 

  whole script based on ITEMSJS:
  https://github.com/itemsapi/itemsjs

  and on an adaption from Martina Trognitz:
  https://github.com/bellerophons-pegasus/lobib

  thank you!

-->

<script src="dial.js"></script>
<!-- https://cdn.rawgit.com/itemsapi/itemsjs/master/dist/itemsjs.js -->
<script src="itemsjs.js"></script>
<!-- https://cdn.jsdelivr.net/vue/latest/vue.min.js -->
<script src="vue.min.js"></script>
<!-- https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css -->
<link href="bootstrap.min.css" rel="stylesheet"/>

<div id="el">
  <div class="container" style="margin-top: 50px;">

<a href="#" v-on:click="reset()">
<table style="width:100%;">
  <tr>
    <td style="width: 16.6%"><div style="display: flex; justify-content: center; align-items: center;">
      <img src="rotary_dial.png" style="height: 10em; "></div>
    </td>
    <td style="padding-left: 1em;">
      <h1 style="color: #0b477c">dial.</h1>
      <p style="font-size: 1em;color: gray;">das digitale ilse aichinger literaturverzeichnis</p>
    </td>
  </tr>
</table>
</a>

    <div class="row">
      <div class="col-md-2 col-xs-2" style="padding-top: 2em; min-width: 7em;">
        <form >
          <input type="text" v-model="query" style="width: 100%" placeholder="Suche">
        </form>

        <p style="text-align: right; font-size: 0.8em;"><i>{{ searchResult.pagination.total }} Einträge</i></p>
        <div v-for="facet in searchResult.data.aggregations">
          <h5 style="margin-bottom: 5px;"><strong style="color: black;"> {{ facet.title }} </strong></h5><!-- blau: #337ab7 Links: #0b477c-->

          <ul class="browse-list list-unstyled long-list" style="margin-bottom: 0;">
            <li v-for="bucket in facet.buckets">
            <div class="checkbox block" style="margin-top: 0; margin-bottom: 0;">
              <label>
                <input class="checkbox" type="checkbox" v-model="filters[facet.name]" v-bind:value="bucket.key">
                {{ bucket.key }} ({{ bucket.doc_count }})
              </label>
            </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-10 col-xs-10" style="padding-top: 2em;">
        <div class="breadcrumbs"></div>
        <div class="clearfix"></div>
        <table class="table table-striped" style="table-layout:fixed; min-width: 40em;">
          <tbody>

          	<tr style="border-bottom:2pt dotted black;">
              <th>Titel</th>
              <th>erschienen in</th>
              <th style="width: 10em;">Datum</th>
              <th style="width: 9em;">Wikidata-ID</th>
            </tr>

            <tr v-for="item of searchResult.data.items">

              <td>
                <span style="color: #0b477c;">
                  <b v-if="item.subtitle">{{ item.title }} {{ item.subtitle }}</b>
                  <b v-else>{{ item.title }}</b><br/>
                </span>
                <i v-if="item.author.length!=1">{{ item.author.join(' & ') }}</i>
                <i v-else>{{ item.author.join('') }}</i>
              </td>

              <td>
                <i v-if="item.journaltitle">{{ item.journaltitle }},<br/></i>
                <i v-if="item.booktitle">{{ item.booktitle }},<br/></i>
                <i v-if="item.maintitle">{{item.maintitle}},<br/></i>
                  
                <span v-if="item.publisher.length!=1">{{ item.publisher.join(' & ') }}</span>:
                <span v-else>{{ item.publisher.join('') }}</span>:

                <span v-if="item.location.length!=1">{{ item.location.join(' & ') }}</span>,
                <span v-else>{{ item.location.join('') }}</span>,

                S. {{ item.pages }}
                <a v-if="item.url" v-bind:href="item.url"><br/>{{ item.url }}</span>
              </td>

              <td style="word-wrap:break-word;">{{ item.date }}</td>

              <td><a v-bind:href="'https://www.wikidata.org/wiki/' + item.wikidata">{{ item.wikidata }}</a></td>
          
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix" style="margin-bottom: 100px;"></div>
    </div>
  </div>
</div>


<div style="font-size: 1em; text-align: right; padding: 4em;">
  <a href="https://github.com/diaphon/dial">github.com/diaphon/dial</a>
</div>



<script >
var configuration = {
  searchableFields: ['title', 'subtitle', 'booktitle', 'maintitle', 'date', 'author'],
  sortings: {
    date: {
      field: 'date',
      order: 'asc'
    }
  },
  // FACETTIERUNG:
  aggregations: {
    Erstpublikation: {
    	title: 'Erstpublikation',
      order: 'asc',
    	size: 2
    },
	  Jahrzehnt: {
      title: 'Jahrzehnt',
      order: 'asc',
      sort: 'term',
      size: 10
    },
    location: {
      title: 'Ort',
      size: 10
    },
    ENTRYTYPE: {
      title: 'Medium',
      order: 'asc',
      sort: 'term',
      size: 10
    },
    genre: {
      title: 'Genre',
      size: 5
    },
    author: {
      title: 'Autor',
      size: 5
    }
  }
}

// the rows comes from external resources
// https://github.com/itemsapi/itemsapi-example-data/blob/master/jsfiddle/imdb.js
itemsjs = itemsjs(rows, configuration);

var vm = new Vue({
  el: '#el',
  data: function () {

    // making it more generic
    var filters = {};
    Object.keys(configuration.aggregations).map(function(v) {
      filters[v] = [];
    })

    return {
      query: '',
      // initializing filters with empty arrays
      filters: filters,
    }
  },
  methods: {
    reset: function () {
      var filters = {};
      Object.keys(configuration.aggregations).map(function(v) {
        filters[v] = [];
      })

      this.filters = filters;
      this.query = '';
    }
  },
  computed: {
    searchResult: function () {

      var result = itemsjs.search({
        query: this.query,
        filters: this.filters,
        per_page: 20
      })
      return result
    }
  }
});
</script>
