 <head>
  <meta charset="UTF-8">
</head>

<!-- 

  whole script based on ITEMSJS:
  https://github.com/itemsapi/itemsjs

  and on an adaption from Martina Trognitz:
  https://github.com/bellerophons-pegasus/lobib

  thank you!

-->

<script src="dial.js"></script>
<!-- https://cdn.rawgit.com/itemsapi/itemsjs/master/dist/itemsjs.js -->
<script src="itemsjs.js"></script>
<!-- https://cdn.jsdelivr.net/vue/latest/vue.min.js -->
<script src="vue.min.js"></script>
<!-- https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css -->
<link href="bootstrap.min.css" rel="stylesheet"/>

<div id="el">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="padding-left: 15em;">
      <div id="navbar">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" v-model="query" class="form-control" placeholder="Search">
          </div>
        </form>
      </div><!--/.nav-collapse -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#" v-on:click="reset()">reset</a>
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top: 50px;">

    <h1 style="font-family: monospace;"><img src="rotary_dial.png" style="width: 1em;"> dial</h1>

    <!-- <p class="text-muted">Search performed in {{ searchResult.timings.search }} ms, facets in {{ searchResult.timings.facets }} ms</p> -->

    <div class="row">
      <div class="col-md-2 col-xs-2" style="padding-top: 6em;">
        <div v-for="facet in searchResult.data.aggregations">
          <h5 style="margin-bottom: 5px;"><strong style="color: black;"> {{ facet.title }} </strong></h5><!-- blau: #337ab7 -->

          <ul class="browse-list list-unstyled long-list" style="margin-bottom: 0;">
            <li v-for="bucket in facet.buckets">
            <div class="checkbox block" style="margin-top: 0; margin-bottom: 0;">
              <label>
                <input class="checkbox" type="checkbox" v-model="filters[facet.name]" v-bind:value="bucket.key">
                {{ bucket.key }} ({{ bucket.doc_count }})
              </label>
            </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-10 col-xs-10" style="padding-top: 2em;">
        <div class="breadcrumbs"></div>
        <div class="clearfix"></div>
        <p>{{ searchResult.pagination.total }} Einträge</p>
        <table class="table table-striped" style="table-layout:fixed;">
          <tbody>

          	<tr style="border-bottom:2pt dotted black;">
              <th>Titel</th>
              <th>erschienen in</th>
              <th style="width: 10em;">Datum</th>
              <th style="width: 9em;">Wikidata-ID</th>
            </tr>

            <tr v-for="item of searchResult.data.items">
              <td><b>{{ item.title }} {{ item.subtitle }}</b><br/> <i style="padding-left:2em;">{{item.author}}</i></td>
              <td><i>{{ item.journaltitle }}{{ item.booktitle }}{{item.maintitle}}</i>, {{ item.publisher }}: {{ item.location }}</td>
              <td style="word-wrap:break-word;">{{ item.date }}</td>
              <td>{{ item.wikidata }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix" style="margin-bottom: 100px;"></div>
    </div>
  </div>
</div>


<script >
var configuration = {
  searchableFields: ['title', 'subtitle', 'booktitle', 'maintitle', 'date', 'author'],
  sortings: {
    date: {
      field: 'date',
      order: 'asc'
    }
  },
  // FACETTIERUNG:
  aggregations: {
    Erstpublikation: {
    	title: 'Erstpublikation',
    	size: 2
    },
	  Jahrzehnt: {
      title: 'Jahrzehnt',
      size: 10
    },
    location: {
      title: 'Ort',
      size: 10
    },
    ENTRYTYPE: {
      title: 'Medium',
      size: 10
    },
    keywords: {
      title: 'Genre',
      size: 5
    },
    author: {
      title: 'Autor',
      size: 5
    }
  }
}

// the rows comes from external resources
// https://github.com/itemsapi/itemsapi-example-data/blob/master/jsfiddle/imdb.js
itemsjs = itemsjs(rows, configuration);

var vm = new Vue({
  el: '#el',
  data: function () {

    // making it more generic
    var filters = {};
    Object.keys(configuration.aggregations).map(function(v) {
      filters[v] = [];
    })

    return {
      query: '',
      // initializing filters with empty arrays
      filters: filters,
    }
  },
  methods: {
    reset: function () {
      var filters = {};
      Object.keys(configuration.aggregations).map(function(v) {
        filters[v] = [];
      })

      this.filters = filters;
      this.query = '';
    }
  },
  computed: {
    searchResult: function () {

      var result = itemsjs.search({
        query: this.query,
        filters: this.filters
      })
      return result
    }
  }
});
</script>
